<suite name="Regression Suite">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
        <listener class-name="org.seleniumTask.CustomTestListener" />
    </listeners>
    <test name="New Era Test">
        <classes>
            <class name="org.seleniumTask.NewEraLoginTest"/>
        </classes>
    </test>
</suite>